

<div class="yellow-wrapper">
  <div class="outer-wrapper">

    <div class="inner-wrapper">
      <div class="innermost-wrapper">
        <!--<h2>Sarah Driban's Porfolio</h2>-->
        <!--<div class="underline"></div>-->
        <h1>Under Construction</h1>
        <h3>Updates are on the way and the site will be back soon!</h3>
        <div class="underline"></div>
        <div class="links">
          <a class="circle-link" href="https://www.behance.net/sarahdriban" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a>
          <a class="circle-link" href="http://www.linkedin.com/in/sarahdriban" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <div class="clear"></div>
      </div>

      <div class="footer">
        <p>Sarah Driban &#169; <%= Time.now.year %>  /  <a href="mailto:sarahdriban@gmail.com">sarahdriban@gmail.com</a></p>
      </div>
    </div>

  </div>
</div>

